<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Manufacturers</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Manufacturer" class="btn btn-info form-control text-white">Create New Manufacturer</a>
    </div>
    <div class="col-12 border p-3">
        <table class="table table-striped table-bordered" style="width:100%">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th></th>
            </tr>
            @foreach (var manufacturer in Model.Manufacturers)
            {
                <tr>
                    <td>@manufacturer.Name</td>
                    <td>@manufacturer.Address</td>
                    <td>@manufacturer.City</td>
                    <td>@manufacturer.Country</td>
                    <td>
                        <div class="text-center">
                            <a a asp-action="Upsert" asp-route-id="@manufacturer.Id" class="btn btn-success" style="cursor:pointer; width:70px;">
                                Edit
                            </a>
                            &nbsp
                            <a class="btn btn-danger text-white" style="cursor:pointer; width:70px;"
                               a asp-action="Delete" asp-route-id="@manufacturer.Id">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


