<br/>
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Product" class="btn btn-success form-control text-white">Create New Product</a>
    </div>
    <div class="col-12 border p-3">
        <table class="table table-striped table-bordered" style="width:100%">
            <tr>
                <th width="10%">Name</th>
                <th width="20%">Description</th>
                <th width="10%">Category</th>
                <th width="15%">Manufacturer</th>
                <th width="15%">Supplier</th>
                <th width="10%">Price</th>
                <th></th>
            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Category.Description</td>
                    <td>@product.Manufacturer.Name</td>
                    <td>@product.Supplier.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <div class="text-center">
                            <a a asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-success" style="cursor:pointer; width:70px;">
                                Edit
                            </a>
                            &nbsp
                            <a class="btn btn-danger text-white" style="cursor:pointer; width:70px;"
                               a asp-action="Delete" asp-route-id="@product.Id">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


